<?xml version="1.0" encoding="utf-8"?>
<layers>
  <layer name="Layer1" includeFolder="/App_Config/Layer1">
    <loadOrder>
      <add  type="Folder" path="Listed1" />
      <add  type="Folder" path="Listed2" />
      <add type="File" path="Layer1Excluded.config" mode="off" />
    </loadOrder> 
  </layer>
  <layer name="Layer2" includeFolder="/App_Config/Layer2"></layer>
  <layer name="Layer3" mode="off" includeFolder="/App_Config/Layer3"></layer>
</layers>