<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sitecore" type="Sitecore.Configuration.RuleBasedConfigReader, Sitecore.Kernel" />
  </configSections>
  <sitecore>
    <!-- Start required for Context.IsUnitTesting -->
    <pipelines>      
      <initialize />
    </pipelines>    
    <siteManager defaultProvider="sitecore">
      <providers>
        <clear />
        <add name="sitecore" type="Sitecore.Sites.SitecoreSiteProvider, Sitecore.Kernel" checkSecurity="false">
          <providers hint="raw:AddProviderReference">
            <reference name="config" />
          </providers>
        </add>
        <add name="config" type="Sitecore.Sites.ConfigSiteProvider, Sitecore.Kernel" siteList="sites" checkSecurity="false" />
      </providers>
    </siteManager>
    <!-- End required for Context.IsUnitTesting -->
    
    <test>
      <testobject type="ConfigurationUnitTests.TestType" />
      <testobjectsingleton type="ConfigurationUnitTests.TestType" singleInstance="true" />
      <testconstructed type="ConfigurationUnitTests.TestConstructed">
        <param>TestValueFromAppConfig</param>
      </testconstructed>
      <testcontstructedwithnumber type="ConfigurationUnitTests.TestConstructed">
        <param>$(0)</param>
      </testcontstructedwithnumber>
      <testwithdefer type="ConfigurationUnitTests.TestType">
        <name hint="defer">DeferredValue</name>
      </testwithdefer>
      <testwithnondefer type="ConfigurationUnitTests.TestType">
        <name>NonDeferredValue</name>
      </testwithnondefer>
      <testwithboth type="ConfigurationUnitTests.TestType">
        <name>NonDeferredValue</name>
        <name hint="defer">DeferredValue</name>
      </testwithboth>
      <testconstructedsingleton type="ConfigurationUnitTests.TestConstructed" singleInstance="true" />
    </test>
    <deferTests>
      <loc1A ref="deferTests/loc1B">
        <name>1</name>
      </loc1A>
      <loc1B type="ConfigurationUnitTests.TestType" /> 
      <loc2A ref="deferTests/loc2B">
        <name>1</name>
      </loc2A>
      <loc2B type="ConfigurationUnitTests.TestType">
        <name>2</name>
      </loc2B>
      <loc3A ref="deferTests/loc3B">
        <name hint="defer">1</name>
      </loc3A>
      <loc3B type="ConfigurationUnitTests.TestType" /> 
      <loc4A ref="deferTests/loc4B">
        <name hint="defer">1</name>
      </loc4A>
      <loc4B type="ConfigurationUnitTests.TestType">
        <name>2</name>
      </loc4B>
      <loc5A ref="deferTests/loc5B">
        <name>1</name>
      </loc5A>
      <loc5B ref="deferTests/loc5C">
        <name>2</name>
      </loc5B>
      <loc5C type="ConfigurationUnitTests.TestType">
        <name>3</name>
      </loc5C>
      <loc6A ref="deferTests/loc6B">
        <name hint="defer">1</name>
      </loc6A>
      <loc6B ref="deferTests/loc6C">
        <name>2</name>
      </loc6B>
      <loc6C type="ConfigurationUnitTests.TestType">
        <name>3</name>
      </loc6C>
      <loc7A ref="deferTests/loc7B">
        <name>1</name>
      </loc7A>
      <loc7B ref="deferTests/loc7C">
        <name hint="defer">2</name>
      </loc7B>
      <loc7C type="ConfigurationUnitTests.TestType">
        <name>3</name>
      </loc7C>
      <initializableNonDefer type="ConfigurationUnitTests.TestInitializable">
        <prop>1</prop>
      </initializableNonDefer>
      <initializableDefer type="ConfigurationUnitTests.TestInitializable">
        <prop hint="defer">1</prop>
      </initializableDefer>
    </deferTests>
  </sitecore>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>