<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<patchTests>
			<PatchDefaultToLast>
				<patched></patched>
			</PatchDefaultToLast>
			<PatchBefore>
				<patched patch:before="node1" />
			</PatchBefore>
			<PatchAfter>
				<patched patch:after="node1" />
			</PatchAfter>
			<PatchInstead>
				<patched patch:instead="node1" />
			</PatchInstead>
			<PatchDelete>
				<node1>
					<patch:delete />
				</node1>
			</PatchDelete>
			<PatchAttributeNew>
				<patch:attribute name="toAdd">newValue</patch:attribute>
			</PatchAttributeNew>
			<PatchAttributeReplace>
				<patch:attribute name="toReplace">newValue</patch:attribute>
			</PatchAttributeReplace>
			<PatchDeleteAttribute>
				<!-- Undocumented capability -->
				<patch:deleteattribute name="toDelete" />
			</PatchDeleteAttribute>
			<SetAttribute set:toSet="newValue" />
		</patchTests>
	</sitecore>
</configuration>