<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<SignificantAttributeTests>
			<NoSignificantAttributesSeparate>
				<childNode attr1='b' />
			</NoSignificantAttributesSeparate>
			<HasSignificantAttributesSeparate>
				<childNode attr1='b' desc='test' />
			</HasSignificantAttributesSeparate>
			<HasName>
				<childNode name='test_name' attr1='b' desc='test_desc2' />
			</HasName>
		</SignificantAttributeTests>
	</sitecore>
</configuration>